<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processor Performance Predictor (CI/CD Test)</title>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST">
        Enter the Following Processor Performance Parameters on a Scale for 1 to 10:
        <br><br>Thermal Design Power (10 = 900.0 Watts):  <input type="number" name="tdp"><br>
        Die Size (10 = 826.0 mm^2):   <input type="number" name="die_size"><br>
        Number of Transistors (10 = 54,000 million):  <input type="number" name="transistors"><br>
              
        <input type=submit    value=Submit>
   </form>
    <br><br>Predicted Processor Performance (Floating Point (64) Gigaflops): {{ predict }}
</body>
</html>